{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load render_table from django_tables2 %}
{% load staticfiles %}



{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" /><link rel="stylesheet" href="{% static "paleblue/css/screen.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
<table class="paleblue">
    <tr class="paleblue">
        <th>Owner Id</th>
        <td>{{ owner.id }}</td>
    </tr>
    <tr>
        <th>User Name</th>
        <td>{{ owner.username }}</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>{{ owner.first_name }}</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>{{ owner.last_name }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ owner.email }}</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>{{ owner.phone }}</td>
    </tr>
    <tr>
        <th>Projects</th>
        <td>
            <ul>
                {% for prj in projects %}
                <li>{{ prj.name }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>

</table>

{% endblock %}




